.app {
  margin: auto;
  max-width: 480px;
  width: 100%;
  background: linen;
  /* border: 1px solid black; */
  height: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  /* flex-direction: column; */
}
