body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%; /* Set a maximum width to match the viewport width on all devices */
  background: linen;
  overscroll-behavior: none; /* Disable overscroll behavior, preventing panning. */
  touch-action: none; /* Disable touch events. */
  user-drag: none; /* Disable user dragging. */
  user-zoom: fixed; /* Disable user zooming. */
  overscroll-behavior-x: none; /* Disable horizontal (x-axis) panning. */
  overscroll-behavior-y: none;
  touch-action: pan-x;
  position: relative;
  height: auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Media query to center the content on larger screens (tablets and laptops) */
@media (min-width: 768px) {
  body {
    text-align: center; /* Center align the content */
  }
}
